<div *ngIf="isVisible$ | async" [class]="options?.htmlClass || ''" [formGroup]="this.jsf.formGroup">
  <div class='calc-width-like-mat-field'>
    <mat-form-field class="example-form-field">
      <mat-label>{{ options?.title }}</mat-label>
      <input matInput type="text" [formControlName]="controlName" [(ngModel)]="controlValue" autofocus>
      <button tabindex="-1" mat-button *ngIf="controlValue" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <label class="hint"
      *ngIf="options?.description && (!options?.showErrors || !options?.errorMessage)"
      fxLayout-align="start" [innerHTML]="options?.description"></label>
    <mat-error *ngIf="options?.showErrors && options?.errorMessage" [innerHTML]="options?.patternError"></mat-error>
    <mat-error *ngIf="options?.showErrors && options?.errorMessage" [innerHTML]="options?.errorMessage"></mat-error>
  </div>
</div>
    <!--
    <ejs-textbox
      *ngIf="visibility && type === 'string' || type === 'text'|| type === 'password'"
      [readonly]="options?.readonly"
      [type]="type"

      [id]="id"
      [style.width]="'100%'"
      floatLabelType="Auto"
      cssClass="e-outline"
      [placeholder]="options?.notitle ? placeHolder : title"
      (blur)="options.showErrors = true"
      (ngModelChange)="this.inputUpdate.next($event)"
      [name]="controlName"
      [required]="options?.required"
      [disabled]="controlDisabled">
    </ejs-textbox>
    -->
